<div class="container">
    <h1 class="header">
        API Basejump: Request Header parser microservice
    </h1>
    <blockquote>
        User story:
        <ul>I can get the IP address, language and operating system for my browser.</ul>
    </blockquote>
    <h3>Example usage:</h3>
    <code>https://lit-atoll-7887.herokuapp.com/api/whoami</code><br>
    <h3>Example output:</h3>
    <code>
        {
          "ipaddress": 127.0.0.1,
          "language": "en-US",
          "software": "Windows NT 6.1; WOW64"
        }
    </code>
</div>